<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Nombre(s) de procesos por terminar, separados por coma (e.g. notepad, explorer)  -->    
    <add key="LIST_KILLABLES" value="notepad" />
    <!-- Nombre(s) de procesos para iniciar de nuevo (por ahora no se implementa esta funcionalidad) -->
    <add key="LIST_GIVE_LIFE" value="notepad" />

    <!-- 0: ignora el envío de correo electrónico; 1: enviar el correo electrónico -->
    <add key="MUST_SEND_EMAIL" value="0" />

    <!-- Datos de correo para enviar mensaje de confirmación -->
    <add key="ADDRESS_EMAIL_CONFIRM" value="example@example" />
    <add key="PSWD_EMAIL_CONFIRM" value="password" />
    <add key="SMTP_PORT_EMAIL_CONFIRM" value="port" />
    <add key="SMTP_SERVER_EMAIL_CONFIRM" value="email.example.com" />
    <add key="DISPLAY_NAME_EMAIL_CONFIRM" value="Asunto del correo" />
    <!-- Lista de direcciones de correo para enviar mensaje con el resultado -->
    <add key="RECIPIENTS_EMAIL_INFO" value="foo@example.com, bar@example.com" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>